<div class="jumbotron center">
<h1>Demi's BIM 360 Field 2.0</h1>
<p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
      </p>
      <p>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>
